.container-fluid{
    border-top:8px yellow;
    background-color: #fff;
    box-shadow: 5px 15px 15px rgb(211, 214, 211);
    border: 1px solid rgb(236, 230, 230);
    border-radius: 3px;
}
.h3{
margin-left: 100px;

}
.top{
    width: 400px;
    height: 6px;
    background-color: #FBB515;
}
