//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

// Custom variables
// $base-font-size: 15px;
$navbar-height: 0.5rem !default;
$floating-nav-margin: 0rem !default;