<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <app-content-header [contentHeader]="contentHeader"></app-content-header>
      <div class="row" *ngIf="[listServiceCode.ADD_DATA_BALANCE, listServiceCode.ADD_MONEY_BALANCE].includes(currentService)">
        <div class="col-12">
          <div class="card">
            <div class="card-body d-flex">
              <h2 class="col-3">
                <p>Số dư chính:</p>
                <div>
                  <b>
                    <span *ngIf="showBalance == true">{{
                      balance | number
                    }}</span>
                    <span *ngIf="showBalance == false">**********</span>
                  </b>
                  <span
                    ><i
                      class="feather m-1"
                      [ngClass]="{
                        'icon-eye-off': showBalance,
                        'icon-eye': !showBalance
                      }"
                      (click)="toggleBalanceTextType('ADD_MONEY_BALANCE')"
                    ></i
                  ></span>
                </div>
              </h2>
              <h2 class="col-3">
                <p>Số dư gói:</p>
                <div>
                  <b>
                    <span *ngIf="showPackageBalance == true">{{
                      packageBalance | number
                    }}</span>
                    <span *ngIf="showPackageBalance == false">**********</span>
                  </b>
                  <span
                    ><i
                      class="feather m-1"
                      [ngClass]="{
                        'icon-eye-off': showPackageBalance,
                        'icon-eye': !showPackageBalance
                      }"
                      (click)="toggleBalanceTextType('PACKAGE_BALANCE')"
                    ></i
                  ></span>
                </div>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="table-striped">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{ contentHeader.headerTitle }}</h4>
              <div>
                <button *ngIf="listServiceCode.ADD_MOBILE_PACKAGE != currentService" type="button" (click)="modalOpen(modalCreate)" class="btn btn-warning" rippleEffect>
                  <span [data-feather]="'plus'" [class]="'mr-25'"></span>{{ btnCreate }}
                </button>
              
                <a *ngIf="listServiceCode.ADD_MOBILE_PACKAGE == currentService" [routerLink]="['/task/recharge']" class="btn btn-warning" rippleEffect>
                  <span [data-feather]="'plus'" [class]="'mr-25'"></span>{{ btnCreate }}
                </a>

                <a *ngIf="[listServiceCode.ADD_DATA_BALANCE].includes(currentService)" [routerLink]="['/task/recharge']"
                  class="btn btn-warning ml-1" rippleEffect>
                  <span [data-feather]="'minus'" [class]="'mr-25'"></span>Nạp Data cho TB
                </a>
              </div>
              
            </div>
  
            <div class="card-body">
              <form (ngSubmit)="onSubmitSearch()">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="searchForm.code" name="code" type="text" placeholder="Mã lô" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <div class="form-group">
                        <input
                          type="text"
                          placeholder="Khoảng thời gian"
                          [ngModelOptions]="{ standalone: true }"
                          ngxDaterangepickerMd
                          [(ngModel)]="dateRange"
                          [ranges]="ranges"
                          [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
                          [showCustomRangeLabel]="true"
                          [alwaysShowCalendars]="true"
                          name="date_range"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <select
                        class="form-control"
                        name="status"
                        [(ngModel)]="searchForm.status"
                      >
                        <option value="">Chọn trạng thái</option>
                        <option value="5">Mới khởi tạo</option>
                        <option value="1">Thành công</option>
                        <option value="-100">Thất bại</option>
                        <option value="3">Đã duyệt</option>
                        <option value="100">Thành công 1 phần</option>
                        <option value="-1">Hủy</option>
  
                      </select>
                    </div>
                  </div>

                  <!-- <div class="col-md-3">
                    <div class="form-group">
                      <select
                        class="form-control"
                        name="service_code"
                        [(ngModel)]="searchForm.service_code"
                      >
                        <option value="all">Chọn dịch vụ</option>
                        <option value="ADD_MONEY_BALANCE">ADD_MONEY_BALANCE</option>
                        <option value="PACKAGE_BALANCE">PACKAGE_BALANCE</option>
                      </select>
                    </div>
                  </div> -->

                  <!-- <div class="col-md-3" *ngIf="[listServiceCode.ADD_DATA_BALANCE, listServiceCode.ADD_MONEY_BALANCE].includes(currentService)">
                    <div class="form-group">
                      <select
                        class="form-control"
                        name="status"
                        [(ngModel)]="searchForm.topup"
                      >
                        <option value="">Chọn loại</option>
                        <option value="{{ item.value }}" *ngFor="let item of selectTopup">{{ item.label }}</option>                        
                      </select>
                    </div>
                  </div> -->

                  <div class="col-md-2">
                    <div class="form-group">
                      <button type="submit" class="btn btn-info mr-1">
                        <i data-feather="search" class="mr-50"></i> Lọc kết quả
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>STT</th>  
                      <th>Mã lô</th>                    
                      <th>Ngày tạo</th>
                      <th>{{ formCreateLabel.amount }}</th>
                      <th *ngIf="[listServiceCode.SIM_PROFILE, listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM].includes(currentService)" >SL hoàn thành</th>
                      <th *ngIf="[ listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM].includes(currentService)" >Gói cước</th>
                      <th *ngIf="[listServiceCode.ADD_DATA_BALANCE].includes(currentService)" >Số Thuê bao</th>
                      <th>Ghi chú</th>
                      <th>Trạng thái</th>
                      <th>Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of list; index as i">
                      <td>{{ (searchForm.page - 1) * searchForm.take + (i+1) }}</td>
                      <td>{{ item.id }}</td>
                      <td>
                        {{ item?.created_at | formatDate }}
                      </td>
                      <td>
                        {{ item?.amount | number }}
                      </td>
                      <td *ngIf="[listServiceCode.SIM_PROFILE, listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM].includes(currentService)" >
                        <ng-container *ngIf="currentService == listServiceCode.SIM_PROFILE">
                          {{ getJSONDetail(item, 'uploaded') | number }}
                        </ng-container>
                        <ng-container *ngIf="currentService == listServiceCode.SIM_KITTING || currentService == listServiceCode.SIM_KITTING_ESIM">
                          {{ getJSONDetail(item, 'kitted') | number }}
                        </ng-container>
                      </td>
                      <td *ngIf="[listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM].includes(currentService)" >
                        {{ getJSONDetail(item, 'package') }}
                      </td>
                      <td *ngIf="[listServiceCode.ADD_DATA_BALANCE].includes(currentService)">
                        {{ item.detail }}
                      </td>
                      <td>
                        {{ item?.response_note }}
                      </td>
  
                      <td>
                        <div [innerHTML]="item?.status | showStatusTask"></div>
                      </td>
  
                      <td class="overflow-hidden">
                        <a
                          [routerLink]="['/task', item.id]"
                          routerLinkActive="active"
                          placement="top"
                          ngbTooltip="Xem"
                        >
                          <i
                            data-feather="eye"
                            class="text-primary cursor-pointer mr-2"
                          ></i>
                        </a>
  
                        <a
                          *ngIf="item?.status == taskStatus.STATUS_WAITING_PAYMENT "
                          (click)="onCancelTask(item)"
                          placement="top"
                          ngbTooltip="Hủy"
                        >
                          <i
                            data-feather="x"
                            class="text-primary cursor-pointer mr-2"
                          ></i>
                        </a>
  
                        <!-- <a
                          *ngIf="item?.status == 99"
                          (click)="modalOpen(modalCreate, item)"
                          placement="top"
                          ngbTooltip="Cập nhật"
                        >
                          <i
                            data-feather="edit"
                            class="text-primary cursor-pointer"
                          ></i>
                        </a> -->
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td><b>Tổng: </b></td>
                      <td></td>
                      <td><b>{{ sum | number }}</b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
  
                <ngb-pagination
                  class="d-flex justify-content-end pr-3 pt-2"
                  [collectionSize]="totalPage"
                  [(page)]="searchForm.page"
                  [pageSize]="searchForm.take"
                  [boundaryLinks]="true"
                  (pageChange)="loadPage($event)"
                >
                  <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                      <div class="mb-3 d-flex flex-nowrap px-2">
                        <label
                          id="paginationInputLabel"
                          for="paginationInput"
                          class="col-form-label me-2 ms-1"
                          >Trang</label
                        >
                        <input
                          #i
                          type="text"
                          inputmode="numeric"
                          pattern="[0-9]*"
                          class="form-control custom-pages-input"
                          id="paginationInput"
                          [value]="searchForm.page"
                          (keyup.enter)="loadPage(i.value)"
                          (blur)="loadPage(i.value)"
                          (input)="formatInput($any($event).target)"
                          aria-labelledby="paginationInputLabel paginationDescription"
                          style="width: 2.7rem"
                        />
                        <span
                          id="paginationDescription"
                          class="col-form-label text-nowrap px-2"
                        >
                          của {{ pages.length }}</span
                        >
                      </div>
                    </li>
                  </ng-template>
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #modalCreate let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-info" id="myModalLabel160">{{ titleModal }}</h5>
        <button
          type="button"
          class="close"
          (click)="modalClose()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="mt-2">
        <div class="modal-body" tabindex="0">           
          <!-- <div class="form-group">
            <label>Chọn dịch vụ</label>
            <select
              name="service"
              id=""
              placeholder="Chọn dịch vụ"
              class="form-control"
              [(ngModel)]="dataCreate.service_code"
            >
              <option value="">Chọn dịch vụ</option>
              <option
                value="{{ item.service_code }}"
                *ngFor="let item of listServices"
              >
                {{ item.service.code }}
              </option>
            </select>
          </div> -->         
          
          <ng-container *ngIf="resFailBulk.list.length > 0">
            <div class="row">
              <div class="col-12">
                <p class="text-warning"><i data-feather="alert-triangle" class="cursor-pointer"></i>{{ resFailBulk.message }}
                  <a csvLink [data]="listDupToExport" class="btn btn-outline-warning float-right btn-sm"
                    rippleEffect><i data-feather="download" class="cursor-pointer"></i></a>
                </p>
              </div>
              
            </div>
            <div class="row">
              <div class="col-12">
                <ngx-datatable [rows]="resFailBulk.list" rowHeight="auto" class="bootstrap core-bootstrap"
                  [columnMode]="'force'" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                  [limit]="15">
                  <ngx-datatable-column name="Số/serial" prop="name">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div class="align-items-center"> 
                        <div class="cell-line-height">
                          <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                            {{ row.name }}
                          </p>
                        </div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>      
                </ngx-datatable>
              </div>
            </div>
                    
          </ng-container>
          
          <ng-container *ngIf="resFailBulk.list.length < 1">
          <span class="text-danger"> {{ erroMess }} </span>
          <div class="form-group" *ngIf="[listServiceCode.SIM_PROFILE].includes(currentService)">
            <label>Tiêu đề</label>
            <input
              type="text"
              name="title"              
              class="form-control"  
              maxlength="50"     
              [(ngModel)]="dataCreate.title"
            />
          </div>
  
          <div class="form-group" *ngIf="![listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM, listServiceCode.SIM_BUNDLE, listServiceCode.SIM_REGISTER].includes(currentService)">
            <label>{{ formCreateLabel.amount }}</label>
            <input
              class="form-control"
              type="text"
              name="amount"
              placeholder="100,000"
              mask="separator"
              separatorLimit="{{ maxAmount }}"
              thousandSeparator=","
              (blur)="onInputAmount($event)"
              [(ngModel)]="dataCreate.amount"
              (focus)="onFocusAmount()"
            />
            <!-- <label>Chiết khấu : {{ discount }}%</label> -->
            
          </div>
          <div class="form-group" *ngIf="![listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM, listServiceCode.SIM_BUNDLE, listServiceCode.SIM_REGISTER].includes(currentService)">
            <label>Tên dịch vụ</label>
            <select name="service" id="" placeholder="Chọn kiểu dịch vụ" class="form-control" [(ngModel)]="dataCreate.service">
              <option value="">Chọn dịch vụ</option>
              <option value="ADD_MONEY_BALANCE">Hạn mức chính</option>
              <option value="PACKAGE_BALANCE">Hạn mức thanh toán gói cước</option>
            </select>
          </div>
          <div class="form-group" *ngIf="[listServiceCode.SIM_PROFILE].includes(currentService)">
            <label>Loại Sim</label>
            <div class="col-6">
              
            <div class="d-flex justify-content-between">
              <div class="input-radio d-flex justify-content-center align-items-center" style="gap: 5px;">
                <input
                  type="radio"
                  (change)="onItemChange($event.target.value)"
                  class="cursor-pointer"
                  name="simvl"
                  id="simvl"
                  name="typeSim"
                  value="simvl"
                  [(ngModel)]="typeSim"
                />
                <label
                  for="simvl"
                  class="cursor-pointer"
                  style="font-size: 13px"
                  >SIM vật lý</label
                >
              </div>
              <div class="input-radio d-flex justify-content-center align-items-center" style="gap: 5px;">
                <input
                  type="radio"
                  (change)="onItemChange($event.target.value)"
                  class="cursor-pointer"
                  name="esim"
                  id="esim"
                  name="typeSim"
                  value="esim"
                  [(ngModel)]="typeSim"
                />
                <label
                  for="esim"
                  class="cursor-pointer"
                  style="font-size: 13px"
                  >eSim</label
                >
              </div>
            </div>
            </div>
          </div>
          <ng-container *ngIf="[listServiceCode.SIM_KITTING, listServiceCode.SIM_KITTING_ESIM, listServiceCode.SIM_BUNDLE].includes(currentService)">
            <div class="form-group">
              <label for="">Chọn gói cước</label>
              <select name="" id="" class="form-control" [(ngModel)]="dataCreate.package">
                <option value="{{ item.code }}" *ngFor="let item of listPackage">{{ item.code }}</option>
              </select>
            </div>
            <div class="form-group" >
              <i class="fa fa-upload" aria-hidden="true"></i>
              <input type="file" (change)="onFileChangeExcelSerial($event)" />
              <label>Tải lên file excel</label>
            
              <a *ngIf="currentService != listServiceCode.SIM_BUNDLE && currentService != listServiceCode.SIM_KITTING_ESIM" href="/assets/sim-profile-serial.xlsx" class="ml-2">File mẫu tại đây</a>
              <a *ngIf="currentService == listServiceCode.SIM_BUNDLE" href="/assets/sim-bundle.xlsx" class="ml-2">File mẫu tại đây</a>
              <a *ngIf="currentService == listServiceCode.SIM_KITTING_ESIM" href="/assets/sim-kitting-esim.xlsx" class="ml-2">File mẫu tại đây</a>
            </div>
          </ng-container>

          <ng-container *ngIf="[listServiceCode.SIM_REGISTER].includes(currentService)">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Chọn doanh nghiệp -->
            <div class="form-group">
              <label>Chọn doanh nghiệp<span class="text-danger">*</span></label>
              <ng-select
                formControlName="customer_id"
                [editableSearchTerm]="true"
                (search)="onSearch($event)"
                (scroll)="onScroll($event)"
                (scrollToEnd)="onScrollToEnd()"
                placeholder="Chọn doanh nghiệp"
                [clearable]="false"
                bindLabel="name"
                bindValue="id"
                [loading]="isLoadingCustomer"
              >
                <ng-template ng-loadingspinner-tmp>
                  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </ng-template>
                <ng-option *ngFor="let p of listCustomer" [value]="p.id">{{ p.name }} - {{ p.id_no }}</ng-option>
              </ng-select>
            </div>

            <!-- Gói cước -->
            <div class="form-group">
              <label>Chọn gói cước</label>
              <select class="form-control" formControlName="package">
                <option value="">Chọn gói cước</option>
                <option *ngFor="let item of listPackage" [value]="item.code">{{ item.code }}</option>
              </select>
            </div>

            <!-- Dòng nhập TTTB -->
            <label>Danh sách đăng ký TTTB</label>
            <div class="form-row row">
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <input type="text" class="form-control" placeholder="Nhập Serial SIM" [(ngModel)]="tempEntry.serial" name="serial" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <input type="text" class="form-control" placeholder="Nhập Mã CBNV" [(ngModel)]="tempEntry.user_code" name="user_code" [ngModelOptions]="{standalone: true}" />
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <input type="text" class="form-control" placeholder="Nhập Tên CBNV" [(ngModel)]="tempEntry.full_name" name="full_name" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <input type="text" class="form-control" placeholder="Nhập SĐT liên hệ" [(ngModel)]="tempEntry.mobile" name="mobile" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <input type="email" class="form-control" placeholder="Nhập Email" [(ngModel)]="tempEntry.email" name="email" [ngModelOptions]="{standalone: true}"/>
              </div>
              <div class="form-group col-sm-6 col-md-4 col-lg-2">
                <ng-select
                  [items]="listUnit"
                  bindLabel="name"
                  bindValue="id"
                  [(ngModel)]="tempEntry.unit_id"
                  name="unit_id"
                  placeholder="Chọn đơn vị"
                  [ngModelOptions]="{ standalone: true }"
                  [clearable]="false"
                >
                </ng-select>
              </div>

            </div>
            <div class="form-group mt-2">
              <button 
                type="button" 
                class="btn btn-success btn-sm" 
                (click)="addEntry()"
              >
                <i data-feather="plus" class="mr-50"></i> Thêm
              </button>
            </div>

            <!-- Hiển thị danh sách đã thêm -->
            <div *ngIf="entryList.length > 0">
              <div class="table-responsive">
                <table class="table table-bordered table-sm table-striped">
                  <thead class="thead-light">
                    <tr>
                      <th>Serial</th>
                      <th>Mã CBNV</th>
                      <th>Tên CBNV</th>
                      <th>SĐT</th>
                      <th>Email</th>
                      <th>Đơn vị</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let entry of entryList; let i = index">
                      <td>{{ entry.serial }}</td>
                      <td>{{ entry.user_code }}</td>
                      <td>{{ entry.full_name }}</td>
                      <td>{{ entry.mobile }}</td>
                      <td>{{ entry.email }}</td>
                      <td>{{ entry.unit_name }}</td>
                      <td>
                        <button type="button" class="btn btn-sm btn-danger" (click)="removeEntry(i)">
                          X
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <!-- Import file -->
            <div class="form-group mt-2">
              <div class="d-flex align-items-center flex-wrap">
                
                <!-- Switch toggle -->
                <label class="switch mb-0 mr-1">
                  <input type="checkbox"
                        [checked]="isUploadEnabled"
                        (change)="isUploadEnabled = $event.target.checked" />
                  <span class="slider round"></span>
                </label>

                <label class="mb-0 mr-2" style="white-space: nowrap;">Hoặc import file:</label>
                <ng-container *ngIf="isUploadEnabled">
                  <input type="file"
                        class="form-control-file mr-2"
                        (change)="onFileChangeExcelSerial($event)"
                        style="width: auto;" />

                  <span class="text-muted mr-3">{{ fileLabel }}</span>

                  <a href="/assets/sim-profile-serial.xlsx"
                    class="text-success d-flex align-items-center"
                    target="_blank">
                    <i class="fa fa-download mr-1"></i> Tải file mẫu
                  </a>
                </ng-container>

              </div>
            </div>

            <!-- Ghi chú -->
            <div class="form-group">
              <label>Ghi chú</label>
              <textarea class="form-control" formControlName="note" placeholder="Nhập nội dung ghi chú" rows="2"></textarea>
            </div>
          </form>
          </ng-container>
          
          <!-- <div class="form-group">
            <label>Nội dụng đơn hàng</label>
            <input
              type="text"
              name="desc"
              disabled
              class="form-control"
              placeholder="Nhập nội dung đơn hàng"
              [(ngModel)]="dataUpdate.desc"
            />
          </div> -->
  
          <!-- <div class="image-upload mb-1" *ngIf="![listServiceCode.KITTING].includes(currentService)">
            <input
              id="file-front-input"
              type="file"
              accept="image/png, image/gif, image/jpeg, image/jpg"
              (change)="onSelectFileFront($event)"
            />
            <label>
              <b>File đính kèm : Ảnh đơn hàng</b>
            </label>
          </div>
  
          <div class="image-upload mb-1" *ngIf="selectedItem && selectedItem.status == 99 && ![listServiceCode.KITTING].includes(currentService)">
            <input
              id="file-front-input"
              type="file"
              accept="image/png, image/gif, image/jpeg, image/jpg"
              (change)="onSelectFileConfirm($event)"
            />
            <label>
              <b>File đính kèm : Ảnh biên lai chuyển khoản</b>
            </label>
          </div> -->
          <ng-container *ngIf="[listServiceCode.ADD_DATA_BALANCE].includes(currentService)">
            <h4>
              Tổng tiền :
              {{ price | number }} VND
            </h4>
    
            <h5 class="text-warning">
              <i>
                {{ price | numberToText }}
              </i>
            </h5>
          </ng-container>
        </ng-container>
        </div>
        <div class="modal-footer">
          <ng-container *ngIf="resFailBulk.list.length < 1">
            <a (click)="onCreateTask()">
              <button type="submit" class="btn btn-primary" rippleEffect>
                {{ btnFormPayment }}
              </button>
            </a>
          </ng-container>
        </div>
      </form>
    </ng-template>
  </div>
  

  <ng-template #modalUploadData let-modal >
    <div class="modal-header">
      <h5 class="modal-title text-info" id="myModalLabel160">
        Tải lên dữ liệu lên
      </h5>
      <button
        type="button"
        class="close"
        (click)="modalClose()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus *blockUI="'item-block'">
      <ng-container >
        <div class="form-group">
          <i class="fa fa-upload" aria-hidden="true"></i>
          <input type="file" (change)="onFileChangeExcel($event)" />
          <label>Tải lên file excel</label>
    
          <a href="/assets/upload-product-kit.xlsx" class="ml-2">File mẫu tại đây</a>
        </div>  
      </ng-container>      
  
    </div>
    <div class="modal-footer">
      <button     
        (click)="onSubmitUpload()"
        type="submit"
        [disabled]="submittedUpload"
        class="btn btn-primary"
        rippleEffect
      >
        <span
          class="spinner-border spinner-border-sm"       
          aria-hidden="true"
          *ngIf="submittedUpload"
        ></span>
        Submit
      </button>
    </div>
  </ng-template>