<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h4 class="card-title mb-0 font-weight-bold">Lịch sử chuyển sử dụng SIM</h4>
    </div>

    <form (ngSubmit)="onSubmitSearch()" class="row">
      <div class="col-md-4 mb-2">
        <input class="form-control" [(ngModel)]="searchForm.phone_or_serial" name="phone_or_serial" placeholder="Nhập số ĐT hoặc serial SIM" />
      </div>
            <div class="col-md-4 mb-2">
            <ng-select
              class="custom-ng-select w-100"
              [items]="listSellChannel"
              bindLabel="name"
              bindValue="id"
              name="channel_name"
              [(ngModel)]="searchForm.channel_id"
              placeholder="Chọn kho"
              [searchable]="true"
              [clearable]="false"
              [dropdownPosition]="'auto'"
              >
              <ng-template ng-header-tmp>
                <div style="padding: 8px; color: #6c757d; font-size: 0.875rem;">
                  🔍 Gõ để tìm kiếm kho...
                </div>
              </ng-template>
            </ng-select>
      </div>
      <div class="col-md-4 mb-2">
        <input class="form-control" [(ngModel)]="searchForm.new_user_name" name="new_user_name" placeholder="Tên người nhận mới" />
      </div>
      <div class="col-md-4 mb-2">
        <input
          type="text"
          placeholder="Khoảng thời gian"
          [ngModelOptions]="{ standalone: true }"
          ngxDaterangepickerMd
          [(ngModel)]="dateRange"
          [ranges]="ranges"
          [locale]="{ applyLabel: 'Chọn', format: 'DD/MM/YYYY' }"
          [showCustomRangeLabel]="true"
          [alwaysShowCalendars]="true"
          name="date_range"
          class="form-control"
        />
      </div>
      
      <div class="col-md-12 d-flex mt-1">
        <button type="submit" class="btn btn-info mr-1">
          <i data-feather="search" class="mr-50"></i> Lọc kết quả
        </button>
        <button type="button" class="btn btn-success" (click)="exportExcel()">
          <i data-feather="file" class="mr-50"></i> Xuất Excel
        </button>
      </div>
    </form>
  </div>

  <div class="table-responsive mt-2">
    <div class="col-md-12 mb-1">
      <span>Tổng số: </span> <b>{{ totalItems }}</b>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>STT</th>
          <th>Kho</th>
          <th>Số điện thoại</th>
          <th>Serial SIM</th>
          <th>Thời gian cập nhật</th>
          <th>Tên</th>
          <th>Mã CBNV</th>
          <th>SĐT liên hệ</th>
          <th>Email</th>
          <th>Đơn vị</th>
          <th>Ghi chú</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list; index as i">
            <td>{{ (searchForm.page - 1) * searchForm.limit + (i + 1) }}</td>
          <td>{{ item.sell_channel_name || '-' }}</td>
          <td>{{ item.msisdn || '-' }}</td>
          <td>{{ item.serial || '-' }}</td>
          <td>{{ item.updated_at | date: 'dd/MM/yyyy HH:mm' }}</td>
          <td>{{ item.new_user?.full_name || '-' }}</td>
          <td>{{ item.new_user?.user_code || '-' }}</td>
          <td>{{ item.new_user?.mobile || '-' }}</td>
          <td>{{ item.new_user?.email || '-' }}</td>
          <td>{{ getUnitName(item.new_user?.unit_id) || '-' }}</td>
          <td>{{ item.note || '-' }}</td>
        </tr>
        <tr *ngIf="list.length === 0">
          <td colspan="7" class="text-center text-muted">Không có dữ liệu</td>
        </tr>
      </tbody>
    </table>

 <ngb-pagination
      class="d-flex justify-content-end pr-3 pt-2"
      [collectionSize]="totalItems"
      [(page)]="searchForm.page"
      [pageSize]="searchForm.limit"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    >
      <ng-template ngbPaginationPages let-page let-pages="pages">
        <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
          <div class="mb-3 d-flex flex-nowrap px-2 align-items-center">
            <label for="paginationInput" class="col-form-label me-2 ms-1">Trang</label>
            <input
              #i
              id="paginationInput"
              type="text"
              inputmode="numeric"
              pattern="[0-9]*"
              class="form-control custom-pages-input"
              [value]="searchForm.page"
              (keyup.enter)="loadPage(i.value)"
              (blur)="loadPage(i.value)"
              (input)="formatInput($event.target)"
              style="width: 3.5rem"
            />
            <span class="col-form-label text-nowrap px-2">của {{ pages.length }}</span>
          </div>
        </li>
      </ng-template>
    </ngb-pagination>
  </div>
</div>