<form [formGroup]="formOrganization">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label for="name" class="col-md-3 col-form-label">Tên tổ chức/DN</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" max placeholder="Tên tổ chức/Doanh nghiệp"
                        formControlName="name">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="license_no" class="col-md-3 col-form-label">Số GPKD/MST</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Số GPKD/Mã số thuế"
                        formControlName="license_no">
                    <div *ngIf="submitted && f.license_no.errors" class="invalid-feedback">
                        <div *ngIf="f.license_no.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="license_issue_date" class="col-md-3 col-form-label">Ngày cấp phép</label>
                <div class="col-md-9">
                    <div style="display: flex;">
                        <input class="form-control" placeholder="dd/mm/yyyy" formControlName="license_issue_date"
                            (click)="basicDP.toggle()" ngbDatepicker #basicDP="ngbDatepicker" />
                        <div class="input-group-append">
                            <button class="btn rounded-0 btn-outline-secondary feather icon-calendar"
                                (click)="basicDP.toggle()" type="button" rippleEffect></button>
                        </div>
                    </div>
                    <div *ngIf="submitted && f.license_issue_date.errors" class="invalid-feedback">
                        <div *ngIf="f.license_issue_date.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="license_issue_place" class="col-md-3 col-form-label">Nơi cấp giấy phép</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Nơi cấp giấy phép"
                        formControlName="license_issue_place">
                    <div *ngIf="submitted && f.license_issue_place.errors" class="invalid-feedback">
                        <div *ngIf="f.license_issue_place.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>


        </div>


        <div class="col-md-6">
            <div class="form-group row">
                <label for="license_issue_place" class="col-md-3 col-form-label">Địa chỉ Tổ chức</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="address">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="province" class="col-md-3 col-form-label">Tỉnh/TP Tổ chức</label>
                <div class="col-md-9">
                    <select name="" id="province" class="form-control" formControlName="province"
                        (change)="onChangeProvince($event)">
                        <option value="">-- Chọn Tỉnh/Thành phố --</option>
                        <option *ngFor="let p of provinces;" [value]="p.id">{{p.title}}
                        </option>

                    </select>
                    <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
                        <div *ngIf="f.province.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="district" class="col-md-3 col-form-label">Quận/Huyện Tổ chức </label>
                <div class="col-md-9">
                    <select formControlName="district" id="home_district" class="form-control"
                        (change)="onChangeDistrict($event)">
                        <option value="">--Chọn Quận/Huyện--</option>
                        <option *ngFor="let p of districts;" [value]="p.id">{{p.title}}
                    </select>
                    <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                        <div *ngIf="f.district.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="commune" class="col-md-3 col-form-label">Phường/Xã Tổ chức</label>
                <div class="col-md-9">
                    <select name="" formControlName="commune" class="form-control">
                        <option value="">--Chọn Phường/xã --</option>
                        <option *ngFor="let p of commues;" [value]="p.id">{{p.title}}
                    </select>
                    <div *ngIf="submitted && f.commune.errors" class="invalid-feedback">
                        <div *ngIf="f.commune.errors.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="mobile" class="col-md-3 col-form-label">Số điện thoại</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="0999888999" formControlName="mobile">
                    <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Vui lòng nhập trường này</div>
                        <div *ngIf="f.mobile.errors.minlength">Vui lòng nhập đúng định dạng số điện thoại</div>
                        <div *ngIf="f.mobile.errors.maxlength">Vui lòng nhập đúng định dạng số điện thoại</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-6">
            <div class="form-group row">
                <label for="contact_address" class="col-md-3 col-form-label">Địa chỉ liên hệ</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Địa chỉ" formControlName="contact_address">
                    <div *ngIf="submitted && f.contact_address.errors" class="invalid-feedback">
                        <div *ngIf="f.address.contact_address.required">Vui lòng nhập trường này</div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-6">
            <div class="form-group row">
                <label for="address_contact" class="col-md-3 col-form-label">Email</label>
                <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="abc@domain.com" formControlName="email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Vui lòng nhập trường này</div>
                        <div *ngIf="f.email.errors.email">Vui lòng nhập đúng định dạng mail</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label for="address_contact" class="col-md-3 col-form-label">Loại khách hàng</label>
                        <div class="col-md-9">

                            <div class="custom-control custom-radio" style="margin-top: 10px;">
                                <input type="radio" id="ORG_GOVERNMENT" formControlName="type" value="ORG_GOVERNMENT"
                                    class="custom-control-input" />
                                <label class="custom-control-label" for="ORG_GOVERNMENT">Doanh nghiệp, cơ quan nhà
                                    nước</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address_contact" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">

                            <div class="custom-control custom-radio">
                                <input type="radio" id="ORG_PRIVATE" value="ORG_PRIVATE" formControlName="type"
                                    class="custom-control-input" />
                                <label class="custom-control-label" for="ORG_PRIVATE">Công ty TNHH, cổ phần, hợp danh,
                                    tư
                                    nhân</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address_contact" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">

                            <div class="custom-control custom-radio">
                                <input type="radio" id="ORG_FOREIGN" value="ORG_FOREIGN" formControlName="type"
                                    class="custom-control-input" />
                                <label class="custom-control-label" for="ORG_FOREIGN">Văn phòng đại diện, chi nhánh,
                                    công
                                    ty
                                    nước ngoài</label>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group row">
                        <label for="address_contact" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <div class="custom-control custom-control-success custom-checkbox"
                                style="margin-top: 10px;">
                                <input type="checkbox" class="custom-control-input" id="VIP" />
                                <label class="custom-control-label" for="VIP">Khách hàng VIP</label>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="isDelegation" class="col-md-3 col-form-label">Giấy ủy quyền</label>
                <div class="col-md-9">
                    <div class="custom-control custom-checkbox" style="margin-top: 10px;">
                        <input type="checkbox" class="custom-control-input" id="isDelegation"
                            formControlName="isDelegation" />
                        <label class="custom-control-label" for="isDelegation"></label>
                    </div>
                </div>
            </div>
            <div *ngIf="f.isDelegation.value">
                <div class="form-group row">
                    <label for="delegation_file" class="col-md-3 col-form-label">Giấy quỷ quyền</label>
                    <div class="col-md-9">
                        <div class="col-md-12">
                            <input type="file" class="form-control" id="delegation_file"
                                formControlName="delegation_file" (change)="onSelectFileDelegation($event)" />
                            <label class="custom-file-label" for="delegation_file">{{delegation_file ?
                                delegation_file.name :
                                "Chọn tệp đính kèm" }}</label>
                            <div *ngIf="submitted && f.delegation_file.errors" class="invalid-feedback">
                                <div *ngIf="f.delegation_file.errors.required">Vui lòng nhập trường này</div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="delegation_no" class="col-md-3 col-form-label">Ủy quyền số</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" formControlName="delegation_no" />
                        <div *ngIf="submitted && f.delegation_no.errors" class="invalid-feedback">
                            <div *ngIf="f.delegation_no.errors.required">Vui lòng nhập trường này</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="delegation_date" class="col-md-3 col-form-label">Ủy quyền ngày</label>
                    <div class="col-md-9">
                        <input class="form-control" type="text" formControlName="delegation_date"
                            placeholder="01/02/2030" mask="00/00/0000" />
                        <div *ngIf="submitted && f.delegation_date.errors" class="invalid-feedback">
                            <div *ngIf="f.delegation_date.errors.required">Vui lòng nhập trường này</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group row">
                <label for="address_contact" class="col-md-3 col-form-label">Chức vụ người đại diện</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" placeholder="Giám đốc/Kế toán .." formControlName="position">
                    <div *ngIf="submitted && f.position.errors" class="invalid-feedback">
                        <div *ngIf="f.email.position.required">Vui lòng nhập trường này</div>
                        <div *ngIf="f.email.position.email">Vui lòng nhập đúng định dạng mail</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>