
@import '@core/scss/angular/libs/form-wizard.component.scss';
@import '@core/scss/angular/libs/select.component.scss';


.ecommerce-card {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    // list view image
    .item-img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .card-body {
      padding: 1.5rem 1rem;
      border-right: 1px solid $border-color;
      display: flex;
      flex-direction: column;

      // item name and ratings order
      .item-wrapper {
        order: 2;
      }
      .item-name {
        order: 1;
      }
      // List view description
      .item-description {
        order: 3;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      // .item-rating,
      .item-price {
        display: none;
      }
      // ratings
      .item-rating {
        margin-bottom: 0.3rem;
      }
    }
    // Common for list-view, checkout and wishlist
    .item-company {
      display: inline-flex;
      font-weight: $font-weight-normal;
      margin: 0.3rem 0 0.5rem;
      font-size: 0.875rem;

      .company-name {
        font-weight: $font-weight-bolder;
        margin-left: 0.25rem;
      }
    }

    // price and btn area of list view
    .item-options {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item-wrapper {
        position: relative;

        .item-cost {
          .item-price {
            color: $primary;
            margin-bottom: 0;
          }
        }
      }
      // Shipping free tag
      .shipping {
        margin-top: 0.75rem;
      }
      // List view btn spacing
      .btn-wishlist,
      .btn-cart {
        margin-top: 1rem;
      }
    }
  }

  .checkout-options {
    .coupons {
      &:focus-within {
        box-shadow: none;
      }
      input {
        border: none;
        padding-left: 0;
        color: $body-color;
        font-weight: $font-weight-bolder;
        &::placeholder {
          color: $body-color;
          font-weight: $font-weight-bolder;
        }
      }
      .input-group-append {
        margin: 0;
      }
      .input-group-text {
        height: auto;
        font-weight: $font-weight-bolder;
        padding: inherit;
      }
    }
    .price-details {
      .price-title {
        font-weight: $font-weight-bolder;
        margin-bottom: 0.75rem;
        margin-top: 1.5rem;
      }
      .price-detail {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;

        .detail-title {
          &.detail-total {
            font-weight: $font-weight-bolder;
          }
        }
      }
    }
  }