<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
  </div>

  <div class="card">
    <div class="row m-2">
      <div class="col">
        <div class="border rounded-lg p-1 custom-card">
          <div class="m-1">
            Số tiền:
            <span class="pull-right"> <b>5.000.000</b></span>
          </div>
          <div class="m-1">
            Phí:
            <span class="pull-right"> <b>5.000</b></span>
          </div>
          <div class="m-1">
            Thuế VAT:
            <span class="pull-right"> <b>2.000</b></span>
          </div>
          <div class="m-1">
            Nhà cung cấp:
            <span class="pull-right">
              <b>Công ty viễn thông di động toàn cầu</b></span
            >
          </div>
          <div class="m-1">
            <h5>
              Tổng tiền :
              <span class="pull-right">
                <b>5.000.000 VND <br /></b> <span>Năm triệu</span></span
              >
            </h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="border rounded-lg card p-1 text-lg-center">
          <h6 class="text-center">
            Bạn hãy dùng các ứng dụng ngân hàng, hoặc ví điện tử quét QR này để
            hoàn tất quá trình thanh toán.
          </h6>
          <h4 class="card-title">Quét mã qua ứng dụng Ngân hàng/ Ví điện tử</h4>

          <div>
            <img
              src="assets/images/elements/qrcode.png"
              alt="QR Code"
              width="300"
              height="400"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
