<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">A05</h2></a
    >
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img
          class="img-fluid"
          [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/forgot-password-v2-dark.svg'
              : 'assets/images/pages/forgot-password-v2.svg'
          "
          alt="Forgot password V2"
        />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Forgot password-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">Quên mật khẩu</h2>
        <form *ngIf="!isSetPassword" class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group" *ngIf="!isConfirmOtp && !isSendOtp">
            <label class="form-label" for="forgot-password-email">Số Điện Thoại</label>
            <input
              class="form-control"
              type="text"
              formControlName="username"
              placeholder="Số điện thoại đăng ký"
              aria-describedby="forgot-password-username"
              autofocus=""
              tabindex="1"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Vui lòng nhập trường này</div>
            </div>
          </div>
          <div *ngIf="isSendOtp && !isConfirmOtp">
            <div class="form-group">
              <p class="text-center">{{ message }}</p>
              <code-input [isCodeHidden]="false"
              [isCharsCode]="false"
                [codeLength]="6"
                (codeCompleted)="onCompletedInputOtp($event)"></code-input>
              
              <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                <div *ngIf="f.otp.errors.required">Vui lòng nhập trường này</div>
              </div>
            </div>
            <div class="form-group">
              <p class="text-center">Bạn chưa nhận được mã xác nhận? <a class="text-primary" (click)="resendOtp()" >Gửi lại</a></p>
            </div>
          </div>

          <div *ngIf="isSendOtp && isConfirmOtp" >
            <div class="form-group">
              <label for="">Mật khẩu mới</label>
              <code-input [isCodeHidden]="true"
              [isCharsCode]="false"
                [codeLength]="6"
                (codeCompleted)="onCompletedInputPassword($event)"></code-input>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Vui lòng nhập trường này</div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Nhập lại mật khẩu mới</label>
              <code-input [isCodeHidden]="true"
              [isCharsCode]="false"
                [codeLength]="6"
                (codeCompleted)="onCompletedInputRePassword($event)"></code-input>
              <div *ngIf="submitted && f.rpassword.errors" class="invalid-feedback">
                <div *ngIf="f.rpassword.errors.required">Vui lòng nhập trường này</div>
                <div *ngIf="f.rpassword.errors.mustMatch">Mật khẩu nhập lại chưa khớp</div>
              </div>
            </div>
          </div>

          <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Tiếp tục</button>
        </form>
        <p class="text-center mt-2" *ngIf="!isSetPassword">
          <a routerLink="/auth/login"
            ><i data-feather="chevron-left" class="mb-25"></i> Đăng nhập</a
          >
        </p>
        <div *ngIf="isSetPassword" >
          <p>Đổi mật khẩu thành công, vui lòng đăng nhập để tiếp tục</p>
          <a class="btn btn-primary btn-block" routerLink="/auth/login" rippleEffect>Đăng nhập</a>
        </div>
      </div>
    </div>
    <!-- /Forgot password-->
  </div>
</div>
