<div id="table-striped">
    <div class="col-12 wrapper">
        <canvas  #myCanvas class="w-100 signature-pad"
            style="border:1px solid #c3c3c3;">
            Your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-12">
        <button type="button" class="btn btn-outline-primary" (click)="onClearDraw()">Ký lại</button>
        <button type="button" class="btn btn-outline-primary" (click)="onNextStep();">
            <span class="align-middle">Chấp nhận</span>
            <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
        </button>
    </div>


</div>

