@import '@core/scss/angular/libs/datatables.component.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
.datatable-scroll {
  width: auto !important;
}

.ngx-datatable.bootstrap.core-bootstrap {
  .datatable-body-row {
    .datatable-body-cell {
      display: inline;
      p {
        word-wrap: break-word;
      }
    }
  }   
} 