<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- account setting page -->
    <section id="page-account-settings">
      <div class="row nav-vertical d-flex">
        <div class="col-12">
          <div class="card">
              <div class="card-body">
                <!-- form -->
                <form class="validate-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="account-old-password">Mật khẩu hiện tại</label>
                        <!-- <div class="input-group form-password-toggle input-group-merge">
                          <input
                            [type]="passwordTextTypeOld ? 'text' : 'password'"
                            class="form-control"
                            id="account-old-password"
                            formControlName="password"
                            placeholder="Mật khẩu hiện tại"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text cursor-pointer"
                              ><i
                                class="feather font-small-4"
                                [ngClass]="{
                                  'icon-eye-off': passwordTextTypeOld,
                                  'icon-eye': !passwordTextTypeOld
                                }"
                                (click)="togglePasswordTextTypeOld()"
                              ></i
                            ></span>
                          </div>
                        </div> -->
                        <code-input [isCodeHidden]="false"
                        [isCharsCode]="false"
                          [codeLength]="6"
                          (codeChanged)="onInputCode('password',$event)"
                          (codeCompleted)="onInputCode('password',$event)"></code-input>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors?.required">Vui lòng nhập mật khẩu hiện tại</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="account-new-password">Mật khẩu mới</label>
                        <code-input [isCodeHidden]="false"
                        [isCharsCode]="false"
                          [codeLength]="6"
                          (codeChanged)="onInputCode('new_password',$event)"
                          (codeCompleted)="onInputCode('new_password', $event)"></code-input>
                        <!-- <div class="input-group form-password-toggle input-group-merge">
                          <input
                            [type]="passwordTextTypeNew ? 'text' : 'password'"
                            id="account-new-password"
                            formControlName="new_password"
                            class="form-control"
                            placeholder="Mật khẩu mới"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text cursor-pointer"
                              ><i
                                class="feather font-small-4"
                                [ngClass]="{
                                  'icon-eye-off': passwordTextTypeNew,
                                  'icon-eye': !passwordTextTypeNew
                                }"
                                (click)="togglePasswordTextTypeNew()"
                              ></i
                            ></span>
                          </div>
                        </div> -->
                        <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
                          <div *ngIf="f.new_password.errors?.required">Vui lòng nhập mật khẩu mới</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label for="account-retype-new-password">Nhập lại mật khẩu mới</label>
                        <code-input [isCodeHidden]="false"
                        [isCharsCode]="false"
                          [codeLength]="6"
                          (codeChanged)="onInputCode('confirm_new_password',$event)"
                          (codeCompleted)="onInputCode('confirm_new_password',$event)"></code-input>
                        <!-- <div class="input-group form-password-toggle input-group-merge">
                          <input
                            [type]="passwordTextTypeRetype ? 'text' : 'password'"
                            class="form-control"
                            id="account-retype-new-password"
                            formControlName="confirm_new_password"
                            placeholder="Mật khẩu mới"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text cursor-pointer"
                              ><i
                                class="feather font-small-4"
                                [ngClass]="{
                                  'icon-eye-off': passwordTextTypeRetype,
                                  'icon-eye': !passwordTextTypeRetype
                                }"
                                (click)="togglePasswordTextTypeRetype()"
                              ></i
                            ></span>
                          </div>
                        </div> -->
                        <div *ngIf="submitted && f.confirm_new_password.errors" class="invalid-feedback">
                          <div *ngIf="f.confirm_new_password.errors?.required">Vui lòng nhập lại mật khẩu mới</div>
                          <div *ngIf="f.confirm_new_password.errors.mustMatch">Mật khẩu nhập lại chưa khớp</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary mr-1 mt-1" rippleEffect>Lưu</button>                        
                    </div>
                  </div>
                </form>
                <!--/ form -->
              </div>
            </div>
        </div>
      </div>
    </section>
    <!--/ account setting page -->
  </div>
</div>
