<!-- Footer -->
<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row">
      <div class="col-md-3">
        <h5 style="font-weight: 900;">CÔNG TY CỔ PHẦN VIỄN THÔNG DI ĐỘNG TOÀN CẦU GTEL MOBILE JSC</h5>
        <div>MST: 0102893137 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp lần đầu ngày 29/08/2008</div>
        <div>Địa chỉ: 105 Nguyễn Tuân, P.Thanh Xuân Trung, Q.Thanh Xuân, TP.Hà Nội</div>
        <div>ĐT: <a href="tel:0598247247">0598 247 247</a> - Hotline: <a href="tel:19000292">1900 0292</a></div>
        <div>Email: <a href="mailto:DVKH@gmobile.vn">DVKH@gmobile.vn</a></div>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: 900;">DỊCH VỤ DI ĐỘNG</h5>
        <div><a href="https://gmobile.vn/goi-cuoc.htm" target="_blank">Gói Cước</a></div>
        <div><a href="https://gmobile.vn/mua-sim-so.htm" target="_blank">Mua Sim Số</a> </div>
        <div><a href="https://gmobile.vn/cac-dich-vu-khac.htm" target="_blank">Các Dịch Vụ Khác</a> </div>
        <div><a href="https://gmobile.vn/dich-vu-gip.htm" target="_blank">Dịch vụ GIP</a> </div>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: 900;">HỖ TRỢ KHÁCH HÀNG</h5>
        <div><a href="https://gmobile.vn/goi-cuoc.htm" target="_blank">Đổi Sim 4G</a></div>
        <div><a href="https://gmobile.vn/mua-sim-so.htm" target="_blank">Thiết Lập APN</a> </div>
        <div><a href="https://gmobile.vn/cac-dich-vu-khac.htm" target="_blank">Sử Dụng Roaming</a> </div>
        <div><a href="https://gmobile.vn/dich-vu-gip.htm" target="_blank">Chăm Sóc Khách Hàng</a> </div>
        <div><a href="https://gmobile.vn/dich-vu-gip.htm" target="_blank">Câu Hỏi Thường Gặp</a> </div>
        <div><a href="https://gmobile.vn/dich-vu-gip.htm" target="_blank">Mẫu Hợp Đồng Viễn Thông</a> </div>
      </div>

      <div class="col-md-3">
        <h5 style="font-weight: 900;">ĐI CÙNG GMOBILE</h5>
        <div><a href="https://facebook.com">Facebook</a></div>
        <div><a rel="nofollow" href="http://online.gov.vn/Home/WebDetails/1716?AspxAutoDetectCookieSupport=1"
            target="_blank" class="dkbct">
            <img src="assets/images/icons/dkbct.png" alt="dkbct" width="100">
          </a></div>
      </div>

    </div>
    <div style="padding-top:10px">
      <p style="text-align: center;">© 2022 GMOBILE.VN. ALL RIGHTS RESERVED</p>
    </div>
  </div>
  <!--/ Footer -->
</div>


<!-- Move to top Button-->
<app-scroll-top *ngIf="coreConfig.layout.scrollTop"></app-scroll-top>

<style>
  a {
    color: #231f20;
  }

  a:hover {
    color: #EB9B00
  }
</style>