<div id="table-striped">
    <div class="col-12 mt-2">   
        <div class="row">
            <div class="col-6">
                <h5>Đơn hàng của bạn:</h5>
            </div>
        </div>
        <div class="pt-2 pb-2" *ngIf="taskDetail && taskDetail.msisdns && taskDetail.msisdns.length > 0">
        <div class="row mb-1" *ngFor="let item of taskDetail.msisdns">
            <div class="col-2" (click)="onRemoveNumber(item.msisdn)">
                <i [data-feather]="'x-circle'" ></i>
            </div>
            <div class="col-5" (click)="onEditSerial(item)">
                <p class="pb-0 mb-0">
                   <i>Số thuê bao: </i> {{ item.msisdn }}
                </p>
                <p class="pb-0 mb-0">
                    <i>Gói cước: </i> {{ item.package }}
                </p>
                <p class="pb-0 mb-0">
                    <i>Serial: </i> {{ item.serial }}
                </p>
                <p class="pb-0 mb-0">
                <i>Bộ hòa mạng: </i>{{ item.amount | number }}
                </p>
            </div>
        </div>
        </div>        
        
        <div class="row">
            <div class="offset-2 col-12">
            <h6>Tổng tiền: {{ totalMoney | number  }} ({{ totalMoney | numberToText }})</h6>
        </div>
        </div>

        <div class="row mb-2" *ngIf="taskDetail && taskDetail.sub_action == 'buy_esim'">
            <form [formGroup]="shipInforForm" class="w-100">
            <div class="col-12 mt-2 mb-1">
                <div class="form-group">
                    <label for="">Số điện thoại liên hệ</label>
                    <input type="text" class="form-control custom-formcontrol" formControlName="mobile" placeholder="(098) 765 43 21"
                        mask="(099)0 000 000" [ngClass]="{
                            'is-invalid':
                              submitShipInfo &&
                              cShipInfoForm.mobile.errors
                          }">
                    <div *ngIf="submitShipInfo && cShipInfoForm.mobile.errors.required">
                        Trường thông tin không được để trống
                    </div>
                </div>
        
            </div>
            <div class="col-12 mt-2 mb-1">
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control custom-formcontrol" formControlName="address" (keyup)="onTypeEmail($event)" [ngClass]="{
                            'is-invalid':
                              submitShipInfo &&
                              cShipInfoForm.address.errors
                          }">
                    <div *ngIf="submitShipInfo && cShipInfoForm.address.errors.required">
                        Trường thông tin không được để trống
                    </div>
                </div>
        
            </div>
            </form>
        </div>
        
        <!-- <div class="row">
            <h6>Chọn loại khách hàng</h6>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" checked="" class="custom-control-input">
                <label for="customRadio1" class="custom-control-label">Khách hàng cá nhân</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="customRadio1" name="customRadio" checked="" class="custom-control-input">
                <label for="customRadio1" class="custom-control-label">Khách hàng doanh nghiệp</label>
            </div>
        </div> -->

<div class="row">
  <div class="col-12 d-flex justify-content-end">
    <button
      *ngIf="taskDetail && taskDetail.id"
      (click)="onCancelTask(taskDetail.id)"
      type="button"
      class="btn btn-outline-primary mr-2"
      rippleEffect
    >
      <span class="align-middle">Hủy đơn</span>
    </button>

    <button
      (click)="onNextStep()"
      type="button"
      class="btn btn-primary btn-next"
      rippleEffect
    >
      <span class="align-middle">Tiếp tục</span>
      <i data-feather="arrow-right" class="align-middle ml-sm-25 ml-0"></i>
    </button>
  </div>
</div>
</div>